.search {
   display: flex;
   padding: 30px 30px 30px 30px;
   align-items: center;
}
.searchInputs {
    min-width: 300px;
    height: 10px;
    font-size: 15px;
    background-color: aliceblue;
    padding: 10px;

}
.dataResult {
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: black;
    overflow: hidden;
    overflow-y: auto;
}
.dataResult::-webkit-scrollbar {
    display: none;
}